<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      li:first-of-type {
        color: red;
      }
    </style>
  </head>
  <body>
    <ul>
      <li>a</li>
      <li>b</li>
      <li>
        c
        <ul>
          <li>a</li>
          <li>b</li>
          <li>c</li>
          <li>d</li>
        </ul>
      </li>
      <li>d</li>
    </ul>
  </body>
</html>
